{% extends "base.html" %}
{% load static produkttags %}

{% block title %}Bibliothek{% endblock %}

{% block head %}
  {{ block.super }}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'style_buecher_alt.css' %}"> -->
{% endblock head %}

{% block content %}
<h1>Bücher</h1>
<div class="container_breit">
<table class='buecher_tabelle'>

{% for buch in buecher %}
<tr>
  <td class="bestellung_titel">
    <a href={{ buch.slug }}>{{ buch.bezeichnung }}</a>
  </td>
  {% if "kaufen" in buch.arten_aktiv %}{% include "Produkte/in_den_warenkorb_inline.html" with produkt=buch art="kaufen" %}
  {% elif "druck" in buch.arten_aktiv %}{% include "Produkte/in_den_warenkorb_inline.html" with produkt=buch art="druck" %}
  {% else %}<td class="buecher_table_d"/>{% endif %}
</tr>
{% endfor %}
</table>
</div>
{% include "paginationsleiste.html" %}
{% endblock content %}
