{% extends "base.html" %}
{% load static produkttags %}

{% block title %}Bibliothek{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'style_buecher_alt.css' %}">
{% endblock head %}

{% block content %}
<div class="buecher_content">
<h1>Bücher</h1>
<table class='buecher_table'>

{% for buch in buecher %}
<tr>
  <td class="buecher_table_b" style="width: 60%">
    <a href={{ buch.slug }}>{{ buch.bezeichnung }}</a>			</td>
  <td class="buecher_table_d">
    {% if buch.arten_aktiv %}{% include "Produkte/in_den_warenkorb_inline.html" with produkt=buch art=buch.arten_aktiv.0 %}{% endif %}
  </td>
</tr>
{% endfor %}
</table>
</div>
{% include "paginationsleiste.html" %}
{% endblock content %}
