{% extends "base.html" %}
{% load static produkttags %}

{% block content %}
  <div class="veranstaltung">
    <h1>{% block title %}{% if buch.title %}{{ buch.titel|safe }}{% else %}{{ buch.bezeichnung }}{% endif %}{% endblock %}</h1>
    <div>
      {% if buch.autor %}{{ buch.autor }}{% endif %}
    </div>
  </div>
  <div class="salon_content">
    <ul style="margin: 1em 4em; text-size: 120%;">
      <!-- TODO: Durch alle Felder iterieren -->
      {% if buch.isbn %}<li> ISBN: {{ buch.isbn }} </li>{% endif %}
      {% if buch.jahr %}<li> Jahr: {{ buch.jahr }} </li>{% endif %}
      {% if buch.sprache %}<li> Sprache: {{ buch.sprache }} </li>{% endif %}
      {% if buch.zusammenfassung %}<li> Zusammenfassung: {{ buch.zusammenfassung }} </li>{% endif %}
    </ul>
    {% for kaufart in buch.arten_aktiv %}
    <div style="text-align: center;">
      <div class="salon_reservation">
        <div class="sinfo">
          {% anzeigemodus buch kaufart as modus %}
          {% include "Produkte/in_den_warenkorb_"|add:modus|add:".html" with produkt=buch art=kaufart %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
