{% extends "base.html" %}

{% block title %}{{ salon.bezeichnung }}{% endblock title %}
{% block content %}

{% include "Veranstaltungen/livestream.html" with veranstaltung=salon %}

<style>
div.notizzettel {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    flex-flow: column;

    width: 60%;
    margin-left: 20%;
}

div.notizzettel > div {
    flex: 4ex;
    margin-top: 1ex;
    border-radius: 3px;
}

div.notizzettel > div > div:first-child {
    font-size: 70%;
    text-align: right;
    padding: 0.4ex 2ex 0.3ex;
    border-radius: 3px 3px 0 0;
}

div.notizzettel > div > div:nth-child(2) {
    font-size: 110%;
    padding: 0.5ex 1ex 0.2ex;
    border-radius: 0 0 3px 3px;
}

form.notizzettel_formular {
    flex: 1 1 6em;
    height: 3em;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 2ex;
}

form.notizzettel_formular > div {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 3ex;
    margin: 0.5ex;
}

form.notizzettel_formular > div:first-child {
    flex: 1 20ex;
}

form.notizzettel_formular > div:first-child > input {
    width: 12ex;
    margin-left: 1ex;
}

form.notizzettel_formular > div:nth-child(2) {
    flex: 8 40ex;
    width: 50ex;
}

form.notizzettel_formular > div:nth-child(2) > input {
    flex: 5 35ex;
    margin-left: 1ex;
}

form.notizzettel_formular > input {
    flex: 1 110px;
    height: 5ex;
    margin: 1ex;
    box-shadow: -1px 2px 3px 0px rgb(111, 111, 111);
    background-color: blue;
}
</style>


<div class="separator">
  <h2>
    Kommentarte/Diskussion
  </h2>
</div>


<div class="notizzettel">

<form action="" method="post" class="notizzettel_formular">
  <div> <h4 style="margin-right: 10ex;"> Neue Zeile eintragen: </h4> </div>
  <div> Nachricht: {{ form.text }} </div>
  <input class="w3-theme-d1" type="submit" value="Eintragen" />
  {% csrf_token %}
</form>

{% for zeile in liste %}
  {% include 'Notizen/liste_zeile.html' %}
{% endfor %}
</div>

{% endblock %}
