{% extends "base.html" %}
{% load static produkttags %}

{% block content %}
  <div class="veranstaltung">
    <h1 style="margin-bottom: 3em; font-size: 250%;">{% block title %}{{ studiumdings.bezeichnung }}{% endblock %}</h1>
  </div>
  <div class="separator">
    <h2>Inhalt und Informationen</h2>
  </div>
  <div class="salon_content">
    {{ studiumdings.beschreibung1|safe }}
    {{ studiumdings.beschreibung2|safe }}
    {% include 'Veranstaltungen/buchung_veranstaltung_unten.html' with veranstaltung=studiumdings %}
    <div class="medien_anmeldung" style="margin-top: 5%;">
      <a href="{% url 'liste_studium' %}">zurück zu den Studienangeboten</a>
    </div>

{% endblock content %}
