{% extends "base.html" %}
{% load static produkttags %}

{% block title %}{{ veranstaltung }}{% endblock %}

{% block content %}
  <div class="veranstaltung">
    {% include 'Veranstaltungen/titel_veranstaltung.html' %}
  </div>
  {% if request.user.is_staff %}
    <form style="text-align: center; padding: 1em;" method="POST">
      {% csrf_token %}
      <input type="hidden" value="{{ veranstaltung.pk }}" name="pk"/>
      <input class="inputbutton" type="submit" value="Teilnehmerliste drucken"/>
    </form>
  {% endif %}
  {% ob_livestream_zeigen veranstaltung request.user.my_profile as ob_zeigen %}
  {% if ob_zeigen %}
    {% include "Veranstaltungen/livestream.html" %}
  {% endif %}
  {% if veranstaltung.ob_chat_anzeigen and ob_zeigen and not veranstaltung.ist_vergangen %}
    <div class="separator">
      <h2> Chat zur Diskussion </h2>
    </div>
    <div style="display: flex; display: -webkit-flex; margin: 5em 0 5em 0;">
      <iframe width="640" height="360" style="flex: 400px;" src="https://tlk.io/salon-{{veranstaltung.slug}}"></iframe>
    </div>
  {% else %}
  <div class="separator">
    <h2>Inhalt und Informationen</h2>
  </div>
  <div class="salon_content">
    <p>{{ veranstaltung.beschreibung|safe }}</p>
    {{ veranstaltung.art_veranstaltung.beschreibung|safe }}

    {% include 'Veranstaltungen/buchung_veranstaltung_unten.html' %}
    <div class="medien_anmeldung" style="margin-top: 5%;">
    <a href="{% url 'Veranstaltungen:liste_alle' %}">zurück zu den Veranstaltungen</a>
    </div>
  </div>
  {% endif %}

{% endblock content %}
