{% extends "base.html" %}
{% load static produkttags %}

{% block content %}
  <div class="veranstaltung">
    <h1 style="margin-bottom: 3em; font-size: 250%;">{% block title %}{{ studiumdings.bezeichnung }}{% endblock %}</h1>
  </div>
  <div class="separator">
    <h2>Inhalt und Informationen</h2>
  </div>
  <div class="salon_content">
    {{ studiumdings.beschreibung1|safe }}
    {{ studiumdings.beschreibung2|safe }}
    {% if studiumdings.bezeichnung != "Roland Baader-Stipendium" %}
    <div style="text-align: center;">
      <div class="salon_reservation">
        <div class="sinfo">
            {% include "Produkte/in_den_warenkorb_ohne_menge.html" with produkt=studiumdings art='teilnahme' %}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="medien_anmeldung" style="margin-top: 5%;">
      <a href="{% url 'liste_studium' %}">zurück zu den Studienangeboten</a>
    </div>
    
{% endblock content %}
