{% extends "base.html" %}
{% load static %}

{% block title %}Veranstaltungen{% endblock %}

{% block content %}
  <div class="separator">
    <h2>Die kommenden Veranstaltungen</h2>
  </div>
  <div class="veranstaltungen">
  {% for veranstaltung in veranstaltungen %}
    <div class="veranstaltung">
      {% include 'Veranstaltungen/titel_veranstaltung.html' with veranstaltung=veranstaltung %}
      <p>{{ veranstaltung.beschreibung|safe }}</p>
      <p class="linie"><img src="{% static 'img/linie.png' %}" alt='linie'></p>
    </div>
  {% endfor %}
  </div>
  {% if medien %}
    {% include "Veranstaltungen/medien.html" %}
  {% endif %}
{% endblock content %}
