<div class="separator">
  <h2>Verfügbare Aufzeichnungen</h2>
</div>
<table class="veranstaltungen">
  {% for medium in medien %}
  <tr>
    <td>
      <a href="{{ medium.get_url }}">
        {{ medium.art_veranstaltung }}: {{ medium.bezeichnung }}
      </a>
    </td>
    <td>
      <p>{{ medium.beschreibung|safe|truncatewords:28 }}</p>
    </td>
    <td>
      {{ medium.datum }}
    </td>
    <td>
      <form action="{% url 'Produkte:cart-add' %}" method="post">
      	{% csrf_token %}
        <input type="hidden" name="pk" value="{{ produkt.id }}">
        <input class="inputbutton" type="submit" value="Auswählen">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% include "paginationsleiste.html" %}
