{% load produkttags %}

{% if "seite" in request.GET %}
<script type='text/javascript'>
$(document).ready(function(){
    window.location = '#medien'
});
</script>
{% endif %}

<div class="separator">
  <h2 id="medien">Verfügbare Aufzeichnungen</h2>
</div>
<table class="veranstaltungen">
  {% for medium in medien %}
  <tr>
    <td>
      <a href="{{ medium.get_absolute_url }}">
        {{ medium|safe }}
      </a>
    </td>
    <td>
      <p>{{ medium.beschreibung|safe|truncatewords:28 }}</p>
    </td>
    <td>
      {{ medium.datum }}
    </td>
    <td>
      {% for art in medium.hat_medien %}
        {% include "Produkte/in_den_warenkorb_ohne_menge.html" with produkt=medium art=art %}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% include "paginationsleiste.html" %}
