{% autoescape off %}
<html>
<head>
<meta http-equiv=3D\'Content-Type\' content=3D\'text/html; charset=3Dutf-8\=
'>=20
<style type=3D"text/css"></style>
<style id=3D"cr_style">
h1,h2,h3,h4,h5,h6{margin: 0 0 10px 0;}
.background {
background-color: #fafafa;
}
a {color: #0066ff; }
.text {
color: #666666;
font-size: 12px;
font-family: verdana;
}
body {
margin: 0pt;
padding: 0pt;
background-color: #fafafa;
width: 100% ! important;
color: #666666;
font-size: 12px;
font-family: verdana;
}
</style>
<meta name=3D"robots" content=3D"noindex,nofollow">
<title></title>
</head>

<!--BODY-->
<body leftmargin=3D"0" topmargin=3D"0" offset=3D"0" style=3D"color: rgb(102=
, 102, 102); font-size: 12px; font-family: arial; margin: 0px; padding: 0px=
; background-color: rgb(250, 250, 250); width: 100% ! important; cursor: au=
to;" class=3D"" marginheight=3D"0" marginwidth=3D"0">
<center>
<table class=3D"text" cr_edit=3D"Content" style=3D"background-color: #fffff=
f; border: 1px solid #cccccc" align=3D"center" cellpadding=3D"0" cellspacin=
g=3D"0" width=3D"600">
<tbody>
<tr>
<td cr_edit=3D"Header" style=3D"border: 0px solid #cccccc; background-color=
: #cccccc;" class=3D"" align=3D"center">
</td>
</tr>
<tr>
<td valign=3D"top" width=3D"600">
<table border=3D"0" cellpadding=3D"10" cellspacing=3D"0" width=3D"100%">
<tbody><tr>
<td class=3D"text">
<!--#loop #-->
<table class=3D"editable text" border=3D"0" cellpadding=3D"0" cellspacing=
=3D"0" width=3D"100%">
<tbody>
<tr>
<td align=3D"center">
<!--#image #-->

                <img style=3D"" class=3D"" title=3D"" alt=3D"" src=3D"http:=
//www.scholarium.at/style/gfx/email_header_new.jpg" align=3D"left" border=
=3D"0" height=3D"150" hspace=3D"0" vspace=3D"0" width=3D"600">
                <!--#/image#-->
                </td>
                </tr>
                </tbody>
                </table>
                <!--#loopsplit#-->
                <table class=3D"editable text" border=3D"0" width=3D"100%">
                <tbody>
                <tr>
                <td valign=3D"top">
                <div style=3D"text-align: justify;">
                <h2></h2>
                <!--#html #-->
                <span style=3D"font-family: times new roman,times;">
                <span style=3D"font-size: 12pt;">
                <span style=3D"color: #000000;">
                <!--#/html#-->
                <br>           =20
                Sehr geehrte{{ rHerr }} {{ nachname }},
                <br>
                vielen Dank für Ihr Interesse!
                <br>
                
                Geld bitte an:   
		    scholarium
		    Erste Bank, Wien/Österreich
		    IBAN: AT27 2011 1827 1589 8503
		    BIC: GIBAATWWXXX

		Bitte verwenden Sie als Zahlungsreferenz/Betreff die Nummer {{ pk }} ein.
                Herzliche Grüße aus Wien!</div>
</span>
</span>
</span>
</td>
</tr>
</tbody>
</table>
<!--#loopsplit#-->
<table class=3D"editable text" border=3D"0" width=3D"100%">
<tbody><tr>
<td valign=3D"top">
<div style=3D"text-align: justify;">
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--#aboutus #-->
<table style=3D"font-size: 10px;" border=3D"0" cellpadding=3D"10" cellspaci=
ng=3D"0" width=3D"100%">
<tbody>
<tr>
<td cr_edit=3D"footer" class=3D"text" style=3D"font-size:10px" align=3D"cen=
ter" valign=3D"top">
scholarium<br> Schlösselgasse 19/2/18<br> 1080 Wien<br> Österreich<br> info@scholarium.at<br>
</td>
</tr>
</tbody>
</table>
<br>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>

<img src=3D"https://u1879939.ct.sendgrid.net/wf/open?upn=3Dvi1sbW6rv1QYhhdg=
aakA2Tqgg3lOeq1lyZGh4-2BTRqU4LJF2lZmh-2FmnJrUAp-2B-2FNZH2s28MxHvDbhbfAC0Iq3=
mRUsMnbExxJo7Hmr5VZXjUpuDAG0ft9wTzVrZw8iWDP4Ss0gW1sIaUSv52SA0UbyqVVCYt93L3h=
A1h9S3jQNyI-2FP0T4wAAIO55G0GVHKD6IBgw2Dlwcb7eE35SRbRPqnsZj8iH-2FQ1NVcpr4XYm=
4DbvXg-3D" alt=3D"" width=3D"1" height=3D"1" border=3D"0" style=3D"height:1=
px !important;width:1px !important;border-width:0 !important;margin-top:0 !=
important;margin-bottom:0 !important;margin-right:0 !important;margin-left:=
0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-r=
ight:0 !important;padding-left:0 !important;"/>
</body>
</html>
{% endautoescape %}
