{% extends "Grundgeruest/ilja.html" %}


{% block kopfleiste %}
  <div class="login">
  {% if request.user.is_authenticated %}
    {% if request.user.my_profile.get_Status.0 > 0 %}
      {% include "Grundgeruest/kopfleiste_nutzer.html" %}
    {% else %}
      {% include "Grundgeruest/kopfleiste_interessent.html" %}
    {% endif %}
  {% else %}
  {% include "Grundgeruest/kopfleiste_gast.html" %}
  {% endif %}
  </div>
{% endblock kopfleiste %}


{% block menueleiste %}
  <div class="menueleiste">
    <div>
      <ul>
        {% include "Grundgeruest/menueleiste.html" with liste_menue=liste_menue %}
      </ul>
    </div>
  </div>
{% endblock menueleiste %}

{% if not request.user.is_authenticated %}
  {% block modals %}
    {% include "Grundgeruest/modals.html" %}
  {% endblock %}
{% endif %}
