{% load static %}
    <footer class="footer">
      <div class="footer_section">
        <div class="footer_info">
          <p>
            <i>scholarium</i> bedeutet Gemeinschaft der Lernenden und ist das, was die Universität hätte sein können, aber nicht sein durfte. Im Gegensatz zum subventionierten Elfenbeinturm der Universitas magistrorum (Gemeinschaft der Intellektuellen) ist das <i>scholarium</i> ein lernendes Unternehmen, in dem bessere Wege werte- und sinnorientierten Schaffens praktisch erkundet und theoretisch reflektiert werden. Wir sind weder lebensfremde Theoretiker auf der Suche nach Macht und Anerkennung, noch unkritische Praktiker auf der Suche nach schnellem Geld und Aufmerksamkeit. Das <i>scholarium</i> bietet eine Orientierungshilfe für kritische Bürger und eine Bildungsalternative für junge Menschen, die der heutigen Blasenwirtschaft, aber auch ideologischen Versprechen misstrauen.
          </p>
        </div>
        <div class="footer_contact">
          <img src="{% static 'img/footer_logo.png' %}" alt="Scholarium Logo">
          <ul>
            <li>Schlösselgasse 19/2/18</li>
            <li>1080 Wien</li>
            <li>Österreich</li>
            <li>&nbsp;</li>
            <li>E-Mail:&nbsp;
              <a href="mailto:&#105;nf&#111;&#064;&#115;&#99;ho&#108;&#97;ri&#117;&#109;.&#97;&#116;"> 
                &#105;nf&#111;&#064;&#115;&#99;ho&#108;&#97;ri&#117;&#109;.&#97;&#116;
              </a>
            </li>
          </ul>
          <p><a href="{% url 'gast_fragen' %}">H&auml;ufige Fragen</a></p> 
        </div>
      </div>
      <div class="footer_section">
        <div class="footer_tm">
          <p>&copy; scholarium&trade;</p>
        </div>
        <div class="footer_social">
          <ul>
            <li><a class="footer_social_facebook" href="https://www.facebook.com/scholarium.at" target="_blank" title="Besuchen Sie uns auf Facebook"></a></li>
            <li><a class="footer_social_twitter" href="https://www.twitter.com/scholarium_at" target="_blank" title="Folgen Sie uns auf Twitter"></a></li>
            <li><a class="footer_social_youtube" href="https://www.youtube.com/user/Wertewirtschaft" target="_blank" title="Schauen Sie unsere Videos auf YouTube"></a></li>
          </ul>
        </div>
      </div>
    </footer>
