{% load static %}
<!doctype html5>
<html lang="de">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Willkommen{% endblock %} | scholarium</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ilja.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'warenkorb/skripte_warenkorb.js' %}"></script>
    {% endblock head %}
  </head>
  <body>
    <header class="header">
    {% block kopfleiste %}
      <div style="background-color: red; height: 30px; margin-bottom: -30px; text-align: right">hallo</div>
    {% endblock kopfleiste %}
    <div class="logo">
      <a href="/">
        <img class="logo_img" src="{% static 'img/scholarium_logo_w.png' %}" onclick="cart.add(1, 2)" alt="scholarium" name="Home">
      </a>
    </div>
    {% block menueleiste %}
      <div style="background-color: blue; height: 30px"></div>
    {% endblock menueleiste %}
    </header>
    <div class="inhalt">
      {% if messages %}
        <div class="basket_message">
        {% for message in messages %}
          <i>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</i><br>
        {% endfor %}
        </div>
      {% endif %}
      {% block content %}
        <div style="padding: 0 25%; align-content: center;">{% lorem 7 p %}</div>
      {% endblock content %}
      {% block modals %}
      {% endblock modals %}
    </div>
    {% include "Grundgeruest/footer_inhalt.html" %}
  </body>
</html>
