{% load static %}

<script src="{% static 'bootstrap.js' %}"></script>

<!-- Login (Anmelden) Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-login">
  <div class="modal-content-login">
              <button type="button" class="close" onclick="modal_sichtbar_umschalten('login')" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="modal-header">

      <h2 class="modal-title" id="myModalLabel">Anmelden</h2>
      <p class="tologin">Sie haben noch keinen Zugang? <br><a data-toggle="modal" data-target="#signup" data-dismiss="modal" aria-label="Close" value="Anmelden">Dann können Sie sich hier eintragen.</a></p>
    </div>
    <div class="modal-body">
      <p>
        <form method="post" action="{% url 'userena_signin' %}" name="registerform">
          {% csrf_token %}
          <input class="inputfield_login" id="user_email_login" type="email" placeholder=" E-Mail-Adresse" name="identification" autocomplete="on" autofocus required><br>
          <input class="inputfield_login" id="user_password" type="password" name="password" placeholder=" Passwort" required><br>
          <input class="inputbutton_login" id="inputbutton" name="anmelden_submit" type="submit" value="Anmelden">
        </form>
        <p class="password_login"><a href="{% url 'userena_password_reset' %}">Passwort vergessen?</a></p>
      </p>
    </div>
  </div>
</div>
</div>
<!-- Sign Up (Eintragen) Modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-login">
  <div class="modal-content-login">
              <button type="button" class="close" onclick="modal_sichtbar_umschalten('signup')" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="modal-header">

      <h2 class="modal-title" id="myModalLabel">Eintragen</h2>
      <p class="tologin">Sie sind bereits eingetragen? <br><a data-toggle="modal" data-target="#login" data-dismiss="modal" aria-label="Close" value="Anmelden">Dann melden Sie sich hier mit ihrer E-Mail-Adresse an.</a></p>
    </div>
    <div class="modal-body">
      <p>
        <form method="post" action="{% url 'userena_signup' %}" name="registerform">
            {% csrf_token %}
            <input class="inputfield_login" id="user_email_signup" type="email" placeholder=" E-Mail-Adresse" name="email" required><br>
            <input type="hidden" name="first_reg" value="header">
            <input class="inputbutton_login" id="inputbutton" name="eintragen_submit" type="submit" value="Kostenlos eintragen">
        </form>
      </p>
    </div>
  </div>
</div>
</div>
