<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<div id="paypal-button-container" style="position: relative; bottom: 40px; z-index: -1;"></div>

<script>
    paypal.Button.render({

        env: 'sandbox', // sandbox | production

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create
        client: {
            sandbox:    'AasKeJoihSdkebF5q7QCuubWoIpnlZiV5vfklRN6onwfU9AJYOwXJ5HvDO-PFghOdi26gGzzpc38qb7B',
            production: '<insert production client id>'
        },

        // Show the buyer a 'Pay Now' button in the checkout flow
        commit: true,

        // payment() is called when the button is clicked
        payment: function(data, actions) {

            // Make a call to the REST api to create the payment
            return actions.payment.create({
                payment: {
                    transactions: [{
                        amount: { total: '1200.00', currency: 'EUR' },
                        item_list: { items: [{
                            "name": "Unterstützungsstufe",
                            "description": "Beirat",
                            "quantity": "1",
                            "price": "1200",
                            "currency": "EUR"
                        }]}
                    }],
                    redirect_urls: {
                        return_url: "https://wien.piokg.de/salons/",
                        cancel_url: "https://wien.piokg.de/scholien/"
                    }
                }
            });
        },

        // onAuthorize() is called when the buyer approves the payment
        onAuthorize: function(data, actions) {

            // Make a call to the REST api to execute the payment
            return actions.payment.execute().then(function() {
                window.alert('Payment Complete!');
            });
        }

    }, '#paypal-button-container');

</script>
