  {% spaceless %}
  {% with seiten=paginator.page_range anzahl=paginator.num_pages %}
  {% firstof request.GET.page "1" as aktuell %}
  {% if seiten|length > 1 %}
    </table><div class="pagination">
      {% if aktuell == "1" %}
        <span class="disabled">&laquo; zurück</span>
      {% else %}
        <a href="?page={{ aktuell|add:"-1" }}">&laquo; zurück</a>
      {% endif %}
      {% for nr in seiten %}
        {% if aktuell == nr|stringformat:"i" %}
        <span class="current">{{ nr }}</span>
        {% else %}
        <a href="?page={{ nr }}" class="current">{{ nr }}</a>
        {% endif %}
      {% endfor %}
      {% if aktuell == anzahl|stringformat:"i" or 'last' == aktuell %}
        <span class="disabled">vor &raquo;</span>
      {% else %}
        <a href="?page={{ aktuell|add:"1" }}">vor &raquo;</a>
      {% endif %}
    </div></table>
  {% endif %}
  {% endwith %}
  {% endspaceless %}