{% extends "base.html" %}
{% load static %}

{% block content %}

  <div style="padding: 10px 15% 20px 15%; width: 70%; display: inline-block; color: rgb(20,20,20); margin-bottom: 30px;">
    <div class="startseite_letzter_artikel">
      {% with artikel=liste_artikel.0 %}
      <h1>
        <a href="{% url 'Scholien:artikel_detail' artikel.slug %}">{{ artikel.bezeichnung|safe }}</a>
      </h1>
      <br>
      <div>
        <span>Scholie</span>
        <span>{{ artikel.datum_publizieren }}</span>
      </div>
      <br>
      <p>{{ artikel.inhalt|safe|truncatewords:42 }} [<a href="{% url 'Scholien:artikel_detail' artikel.slug %}">Weiterlesen</a>]</p>
      {% endwith %}
    </div>
  </div>

  <div class="startseite_zeile">
    <div>
      <h1>Veranstaltungen</h1>
      <div>
        {% for veranstaltung in veranstaltungen %}
        <p>
          <a href="{{ veranstaltung.get_absolute_url }}">{{ veranstaltung.bezeichnung|safe }}</a>
          <br>{{ veranstaltung.datum }}<span>{{ veranstaltung.art_veranstaltung.bezeichnung }}</span>
        </p>
        {% endfor %}
      </div>
      <p><a href="{% url 'Veranstaltungen:liste_alle' %}">Mehr Veranstaltungen</a></p>
    </div>

    <div>
      <h1>Scholien</h1>
      <div>
        {% for artikel in liste_artikel|slice:"1:4" %}
        <p>
          <a href="{% url 'Scholien:artikel_detail' artikel.slug %}">{{ artikel.bezeichnung|safe }}</a>
          <br>{{ artikel.datum_publizieren }}
        </p>
        {% endfor %}
      </div>
      <p><a href="{% url 'Scholien:index' %}">Mehr Scholienartikel</a></p>
    </div>
  </div>

  <div class="startseite_zeile">
    <div>
      <h1>Medien</h1>
      <div>
        {% for medium in medien %}
        <p>
          <a href="{% url 'Veranstaltungen:veranstaltung_detail' medium.slug %}">{{ medium.bezeichnung|safe }}</a>
          <br>{{ medium.typ }}
        </p>
        {% endfor %}
      </div>
      <p><a href="{% url 'Veranstaltungen:liste_alle' %}">Mehr Medien</a></p>
    </div>

    <div>
      <h1>Bücher</h1>
      <div>
        {% for buch in buecher %}
        <p>
          <a href="{% url 'Bibliothek:detail_buch' buch.slug %}">{{ buch.bezeichnung|safe }}</a>
          <!-- <br>{{ buch.jahr }} -->
        </p>
        {% endfor %}
      </div>
      <p>
        <a href="{% url 'Bibliothek:liste_alle' %}">Mehr Bücher</a>
        <a href="{% url 'Scholien:buechlein_liste' %}">Mehr Scholienbüchlein</a>
      </p>
    </div>
  </div>
{% endblock content %}
