{% load static %}

<!-- Layout-->
            <div class="login">   
                <div class="dropdown"><button class="login_button" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="mag-pio@arcor.de">mag-pio@arcor.de<span class="caret"></span></button>
                		<ul class="dropdown-menu dropdown_menu dropdown-menu-right dropdown_menu" role="menu" aria-labelledby="dLabel">
                			<li class="dropdown-header dropdown_name">Mario Göthel</li>
                            <li class="dropdown-header dropdown_level">Scholar</li>
                			<li><a href="/spende/profil.php">Profil</a></li>
                			<li><a href="/spende/">Unterst&uuml;tzen</a></li>
                			                			<li class="divider"></li>
                      		<li class="dropdown-header dropdown_credits">Guthaben: 375 <img class='dropdown_coin' src="/style/gfx/coin.png"></li>
                			<li><a href="/spende/korb.php">Warenkorb <span class="badge">0</span></a></li> 
                			<li><a href="/spende/bestellungen.php">Bestellungen</a></li>
                			<li class="divider"></li>
                			                			<li><a href="/logout.php?logout">Abmelden</a></li>        			               		
                		</ul>
                	</div>
                			                	<div class="login_basket"><a href="../spende/korb.php">Warenkorb <span class="badge">0</span></a></div>
            </div>

