                       <div class="startpage_section_last_scholie">

            		<div class='startpage_last_scholie'><div class='startpage_last_scholie_ms'><h1><a href='/scholien/index.php?q=blockchain-hype-oder-rettung'>Blockchain – Hype oder Rettung?</a></h1><br><div class='startpage_last_scholie_centered'><span>Scholie</span><span>26.11.2016</span></div><br><p>Als Folge der Kryptow&auml;hrung Bitcoin macht das Konzept einer Blockchain Furore, mittlerweile k&ouml;nnte man sogar von einem Hype sprechen. Solche Ketten von Datenbl&ouml;cken sind eine technische M&ouml;glichkeit, digital verteilte Datenbanken mit verteilter &Uuml;berpr&uuml;fung zu ... <a href='scholien/index.php?q=blockchain-hype-oder-rettung'>Weiterlesen</a>                   </div>
            	</div>
            </div>

            <div class="startpage_section">
                <div class="startpage_box_outer  left">
                    <h1>Veranstaltungen</h1>
                    <div class="startpage_box_inner">
                        <p><a href='/salon/index.php?q=salon-anarchopolis'>Anarchopolis</a><br>02.03.2017<span>Salon</span></p><p><a href='/seminare/index.php?q=seminar-recht-mrz17'>Recht</a><br>11.03.2017<span>Seminar</span></p><p><a href='/salon/index.php?q=salon-willensfreiheit'>Willensfreiheit</a><br>04.04.2017<span>Salon</span></p>                	</div>
                <p class="startpage_more"><a href="/veranstaltungen/">Mehr Veranstaltungen</a></p>
                </div>

                <div class="startpage_box_outer right">
                    <h1>Scholien</h1>
                    <div class="startpage_box_inner">
                    <p><a href='/scholien/index.php?q=interview-zum-buch-helden-schurken-visionaere'>Interview zum Buch Helden, Schurken, Visionäre</a><br><i>17.11.2016</i></p><p><a href='/scholien/index.php?q=die-zaehmung-der-untertanen'>Die Zähmung der Untertanen</a><br><i>07.10.2016</i></p><p><a href='/scholien/index.php?q=marketing-produktion-memufaktur'>Marketing versus Produktion? – Die Dynamiken der Memufaktur</a><br><i>01.10.2016</i></p>                    </div>
                    <p class="startpage_more"><a href="/scholien/">Mehr Scholienartikel</a></p>
                </div>
			</div>

			<div class="startpage_section">
                <div class="startpage_box_outer right">
                    <h1>Schriften</h1>
                    <div class="startpage_box_inner">
                     <p><a href='/buecher/index.php?q=antiquariat-frei-nef-contending-with-hayek'>Frei, Christoph/ Robert Nef (Hrsg.) - Contending with Hayek: On Liberalism, Spontaneous Order and the Post-Communist-Societies in Transition</a><br>Antiquariat</p><p><a href='/scholienbuechlein/index.php?q=scholien-babylon'>03/16 Babylon</a><br>Scholie</p><p><a href='/buecher/index.php?q=alles-was-sie-ueber-die-oesterreichische-schule-der-nationaloekonomie-wissen-muessen'>Taghizadegan, Rahim: Alles, was Sie über die Österreichische Schule der Nationalökonomie wissen müssen: Eine Einführung in die Austrian Economics (neu)</a><br>Buch</p>                    </div>
                    <p class="startpage_more"><a href="/buecher/">Mehr B&uuml;cher</a><a href="/scholienbuechlein/">Mehr Scholienb&uuml;chlein</a></p>
                </div>
                <div class="startpage_box_outer left">
                    <h1>Medien</h1>
                    <div class="startpage_box_inner">
                    <p><a href='/medien/index.php?q=medien-salon-aufklaerung'>Aufklärung</a><br>Salon</p><p><a href='/medien/index.php?q=ef-30-11-16'>Radio-Salon: Zeitenwende?</a><br>Salon</p><p><a href='/medien/index.php?q=medien-salon-amerika'>Amerika</a><br>Salon</p>                    </div>
                    <p class="startpage_more"><a href="/medien/">Mehr Medien</a></p>
                </div>
			</div>

			<!--<div class="startpage_section">
                <div class="startpage_box_outer left">
                    <h1>Letzte Projektbeitr&auml;ge</h1>
                    <div class="startpage_box_inner">
                    <p><a href='/projekte/index.php?q=uebersetzung-human-action'>&Uuml;bersetzung: Human Action</a><br>Projekt</p><p><a href='/projekte/index.php?q=uebersetzung-man-economy-state'>&Uuml;bersetzung: Man, Economy and State</a><br>Projekt</p><p><a href='/projekte/index.php?q=test-projekt'>Tesprojekt</a><br>Projekt</p>                    </div>
                    <p class="startpage_more"><a href="/projekte/">Weitere Projekte</a></p>
                </div>
			</div>-->
