{% extends "base.html" %}
{% load static produkttags %}

{% block content %}
  <div class="buecher_head">

    <h1>{% block title %}{{ scholienbuechlein.bezeichnung|safe }}{% endblock %}</h1>

    {% if scholienbuechlein.bild %}
    <div class="buecher_img">
      <img src="{{ scholienbuechlein.bild.url }}" alt="{{ scholienbuechlein.bezeichnung|safe }}">
    </div>
    {% endif %}

    <div class="buecher_bestellen">
        <span class="schriften_type">Scholie</span>

        {% for buechleinformat in scholienbuechlein.arten_aktiv %}
        
        {% anzeigemodus scholienbuechlein buechleinformat as modus %}
        <table class="buecher_tabelle buecher_korb" style="width: 30%; margin-left: auto; border: 0;">
          {% include "Produkte/in_den_warenkorb_"|add:modus|add:".html" with produkt=scholienbuechlein art=buechleinformat %}
        </table>

        {% endfor %}
    </div>

  </div>
  <div class="separator">
    <h2>Inhalt</h2>
  </div>
  <div class="salon_content">
    {{ scholienbuechlein.beschreibung|safe }}
    {% if request.user.my_profile.nicht_abgelaufen %}
    {{ scholie.inhalt_nur_fuer_angemeldet|safe }}
    {% else %} <a href="{% url 'gast_spende' %}">Ihre letzte Unterstützung liegt leider länger als ein Jahr zurück. Um alle Scholien wieder in voller Länge lesen zu können, erneuern Sie bitte Ihre Unterstützung</a>
    {% endif %}
    <p style="text-align: right;">
      <a href="{% url 'Scholien:buechlein_liste' %}">zurück zu den Scholienbüchlein</a>
    </p>
  </div>

{% endblock content %}
