{% extends "base.html" %}
{% load static %}

{% load static produkttags %}
{% block content %}
  <div class="buecher_head">
      
    <h1>{% block title %}{{ scholienbuechlein.bezeichnung|safe }}{% endblock %}</h1>
    
    {% if scholienbuechlein.bild %}
    <div class="buecher_img">
      <img src="{{ scholienbuechlein.bild.url }}" alt="{{ scholienbuechlein.bezeichnung|safe }}">
    </div>
    {% endif %}
    
    <div class="buecher_bestellen">
        <span class="schriften_type">Scholie</span>
        
        {% for buechleinformat in scholienbuechlein.arten_liste %}
                
        {% include 'Produkte/in_den_warenkorb.html' with produkt=scholienbuechlein art=buechleinformat max_anzahl=10 %}
        
        {% endfor %}
        
        {% comment %}
        <form class="buecher_form" action="{% url 'Produkte:cart-add' %}" method="post">
        {% csrf_token %}
         <input type="hidden" name="pk" value="produkt_pk produkt art">
         
         {% if forloop.first %}
         <select class="input-select" name="quantity" onchange="changePrice(this.value, '{{ scholienbuechlein.preis_druck }}')">
             {% for i in "0123456789" %}
             <option value="{{ forloop.counter }}" {% if forloop.first %}selected{% endif %}>{{ forloop.counter }}</option>
             {% endfor %}
         </select>
          {% endif %}
          
         <input class="inputbutton" type="submit" value="{{ buechleinformat|upper }}"> <!-- <? if(($itm_info->spots - $itm_info->spots_sold) == 0 OR $itm_info->format == "1110" OR $itm_info->format == "1010" OR $itm_info->format == "1100" OR $itm_info->format == "1000" OR $itm_info->format == "0110" OR $itm_info->format == "0100" OR $itm_info->format == "0010") echo "disabled"?>> -->
         <div class="buecher-coin">
             <span {% if forloop.first %} id="change" class="buecher-coin-span">
                {% else %} class="buecher-coin-span1">
                {% endif %}
                 {% if forloop.first %}
                    {{ scholienbuechlein.preis_druck }}
                 {% else %}
                    {{ scholienbuechlein.preis_pdf }}
                 {% endif %}
             </span><img class="coin-span__img" src="{% static 'img/coin.png' %}">
         </div>
        </form>
        {% endfor %}
        <!--
        <form class="buecher_form" action="{% url 'Produkte:cart-add' %}" method="post">
        {% csrf_token %}
            <input type="hidden" name="pk" value="">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="format" value="1">
            <input type="submit" class="inputbutton" value="PDF" /> <?php if ($itm_info->format == "0111" OR $itm_info->format == "0011" OR $itm_info->format == "0101" OR $itm_info->format == "0100" OR $itm_info->format == "0010" OR $itm_info->format == "0110") { ?> disabled <?php } ?> > 
                <span id="change" class="buecher-coin-span1">{{ scholienbuechlein.preis_pdf }}</span><img class="buecher-coin-span__img" src="{% static 'img/coin.png' %}">
        </form>
        
        <form class="buecher_form" action="{% url 'Produkte:cart-add' %}" method="post">
        {% csrf_token %}
            <input type="hidden" name="pk" value="">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="format" value="1">
            <input type="submit" class="inputbutton" value="EPUB" /> <?php if ($itm_info->format == "0111" OR $itm_info->format == "0011" OR $itm_info->format == "0101" OR $itm_info->format == "0100" OR $itm_info->format == "0010" OR $itm_info->format == "0110") { ?> disabled <?php } ?> > 
                <span id="change" class="buecher-coin-span1">{{ scholienbuechlein.preis_epub }}</span><img class="buecher-coin-span__img" src="{% static 'img/coin.png' %}">
        </form>
        
        <form class="buecher_form" action="{% url 'Produkte:cart-add' %}" method="post">
        {% csrf_token %}
            <input type="hidden" name="pk" value="">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="format" value="1">
            <input type="submit" class="inputbutton" value="MOBI" /> <?php if ($itm_info->format == "0111" OR $itm_info->format == "0011" OR $itm_info->format == "0101" OR $itm_info->format == "0100" OR $itm_info->format == "0010" OR $itm_info->format == "0110") { ?> disabled <?php } ?> >
                <span id="change" class="buecher-coin-span1">{{ scholienbuechlein.preis_mobi }}</span><img class="buecher-coin-span__img" src="{% static 'img/coin.png' %}">
        </form> -->
        {% endcomment %}
    </div>
    
  </div>
  <div class="separator">
    <h2>Inhalt</h2>
  </div>
  <div class="salon_content">
    {{ scholienbuechlein.beschreibung|safe }}
    {% if request.user.my_profile.nicht_abgelaufen %}
    {{ scholie.inhalt_nur_fuer_angemeldet|safe }}
    {% else %} <a href="{% url 'gast_spende' %}">Ihre letzte Unterstützung liegt leider länger als ein Jahr zurück. Um alle Scholien wieder in voller Länge lesen zu können, erneuern Sie bitte Ihre Unterstützung</a>
    {% endif %}
    <p style="text-align: right;">
      <a href="{% url 'Scholien:buechlein_liste' %}">zurück zu den Scholienbüchlein</a>
    </p>
  </div>
  
{% endblock content %}
