{% extends "base.html" %}
{% load static %}

{% block title %}Scholienbüchlein{% endblock %}

{% block content %}
  <div class="veranstaltungen">
    {% for band in buechlein %}
    <div class="scholienbuechlein">
      <div class="buecher_img" style="width: auto;"> 
        <img style="margin: 2em;" src="{% if band.bild %}{{ band.bild.url }}{% endif %}">
      </div>
      <div class="veranstaltung" style="margin-top: 0;">
        <div>Scholie</div>
        <h1><a href='{{ band.slug }}'>{{ band.bezeichnung }}</a></h1>
        <p>{{ band.beschreibung | safe }}</p>
        <p class="linie"><img src="{% static 'img/linie.png' %}" alt='linie'></p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include "paginationsleiste.html" %}
{% endblock content %}
