@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_regular.otf') format('opentype');
	}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_italic.otf') format('opentype');
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_semibold.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_italic.otf') format('opentype');
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_bold-italic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('font/garamond_semibold-italic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Book';
	src: url('font/futura_regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Futura Book';
	src: url('font/futura_italic.ttf') format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Futura Book';
	src: url('font/futura_bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Futura Book';
	src: url('font/futura_bold-italic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

/*==================================
 * CSS Reset
 ===================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ul {
   list-style: none;
}
ol {
	list-style-position: inside;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*=========================================*/


/*==================================================*/
/*                  General		                    */
/*==================================================*/

body {
}

p {
	font-family: "Garamond", Georgia, Times, sans-serif;
	text-align: justify;
}

ul, ol {
	font-family: "Futura Book", Helvetica, Arial, serif;
	letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Futura Book", Helvetica, Arial, serif;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	font-size: 34pt;
	text-align: center;
	display: block;
	margin: 2em 0;
	font-weight: bold;
}

h2 {
	font-size: 20pt;
	text-align: center;
	margin-top: 40px;
}

li {
	font-size: 11pt;
}

span {
	font-family: "Garamond", Georgia, Times, sans-serif;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

.disc_w_space {
	margin: 40px 0px 40px 60px;
	list-style-position: outside;
	list-style-type: disc !important;
}

.disc_w_space li {
	padding-bottom: 0.75em;
	line-height: 1.6;
    font-family: "Garamond", Georgia, Times, sans-serif;
    font-size: 14pt;
}

.wrapper {
	text-align: center;
}

.center {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

/*==================================================*/
/*                   Header                    		*/
/*==================================================*/

.header {
	width: 100%;
	height: 230px;
	margin: 0;
	top: 0;
	left: 0;
	background: rgb(11,19,30) url(img/header_neu_blau.png) no-repeat center -250px;
}

.logo {
	background: transparent;
	width: 900px;
	height: 160px;
	margin: 35px auto 0px auto;
	text-align: center;
}

.logo_img {
	margin: 25px auto;
	width: 430px;
}

.dropdown {
	position: relative;
  	content: "";
  	border-top: 0;
	top: auto;
  	left: auto;
}

div.basket_message {
	width: 50%;
	padding: 10px 2.5%;
	border: 1px solid #468847;
	border-radius: 4px;
	box-shadow: 0 0 1px 0 transparent;
	margin: -20px 22% 10px 22%;
	color: #468847;
	background-color: #DFF0D8;
	font-size: 16pt;
	text-align: center;
	font-family: "Garamond", Georgia, Times, serif;	
}

div.basket_message a {
	color: rgb(46,74,98);
	text-decoration: none;
}

div.basket_message a:hover {
	text-decoration: underline;
}

/*================  Main Navigation  ===============*/

div.menueleiste {
	height: 40px;
	background: rgb(11,19,30);
	position: relative;
	top: 30px;
   	right: 0;
   	margin: 0 auto;
	text-align: center;
	z-index: 500;
}

div.menueleiste div {
	height: 40px;
	margin: auto;
	width: 80%;
}

div.menueleiste ul {
	text-align: center;
}

li.hauptpunkt {
    position: relative;
	float: left;
	width: 16.6667%; /*20% for five fields*/
	padding: 9px 0 4px;
	height: 27px;
	margin: 0;
	list-style: none;
   	display: inline;
   	font-size: 17px;
}

li.hauptpunkt a {
	display: block;
	height: 27px;
   	color: white;
	padding: 3px 10px;
	font-size: 15px;
	text-shadow: 0px 0px 0px #fff;
}

li.hauptpunkt li:first-child > a, li.hauptpunkt > a {
	font-size: 17px;
}

li.hauptpunkt a:hover {
	text-shadow: 0px 0px 20px #fff;
}

li.hauptpunkt a:visited {
   	color: rgb(245,245,245);
	text-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}

li.hauptpunkt li {
	height: 40px;
	float: none;
}

li.hauptpunkt div {
    display: none;
    position: absolute;
	background: rgb(11,19,30);
    z-index: 1;
    height: auto;
    width: 100%;
	top: 9px;
}

li.hauptpunkt:hover div {
    display: block;
}

/* fuer kopfleiste fast uebernommen */

.login {
	position: fixed;
	top: 0px;
	width: 90%;
	height: 27px;
	background: rgba(255,255,255,0.8);
	padding: 4px 10% 4px 0;
	text-align: right;
	z-index: 1000;
}

.login_button {
	background: none;
	color: rgb(0,0,0);
	border: 0;
	font-size: 12pt;
	float: right;
	font-family: "Futura Book", Helvetica, Arial, serif;
	padding: 6px 10px;
}

.caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.login_button a {
	color: rgb(0,0,0) !important;
	font-family: "Futura Book", Helvetica, Arial, serif;
}

.badge {
  display: inline-block;
  min-width: 12px;
  padding: 5px 3px;
  font-weight: bold;
  line-height: 0.7;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background: rgb(46,74,98);
  border-radius: 6px;
  height: 8px;
}

.dropdown_menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 33px 0px 0px;
    font-size: 12pt;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    right: 0;
  	left: auto;
}

.dropdown_menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.dropdown_header {
	display: block;
	font-size: 12pt;
	line-height: 1.5;
	color: #777;
	white-space: nowrap;
	text-align: center;
	padding: 3px 20px;
}

.dropdown_level {
	font-size: 10pt;
	margin-top: -8px;
}

.dropdown_credits {
	text-align: left;
	padding: 3px 0px 3px 20px;
}

.dropdown_menu .divider {
    height: 1px;
    margin: 9px 0px;
    overflow: hidden;
    background-color: #E5E5E5;
}

img.dropdown_coin {
	height: 17px;
	margin: 0px;
	display: inline;
	vertical-align: -3px;
}


/*==================================================*/
/*                 Content General                  */
/*==================================================*/

.inhalt {
    margin: 50px auto;
}

.container {
    width: 60%;
    padding: 50px 20%;
}

table {
    width: 100%;
}

th, td {
    border-bottom: 1px solid rgb(220,220,220);
}

th {
    font-size: 14pt;
    height: 20px;
    padding: 5px 0;
    color: rgb(180,180,180);
    text-align: right;
}

td {
    font-size: 12pt;
    text-align: right;
}


/* Gast-Seiten */

.jubilaeum_banner {
	width:70%;
	padding: 20px 0px 20px 0px;
	display: inline-block;
	color: rgb(20,20,20);
	background: rgb(46,74,98) none repeat scroll 0% 0%;
	margin: 0px 15% 10px 15%;
	font-size: 16pt;
	text-align: center;
}


.jubilaeum_banner a,  .jubilaeum_banner a:hover, .jubilaeum_banner a:visited {
	color: rgb(255,255,255) !important;
	text-decoration: none;
}

.jubilaeum_banner:hover {
	background: rgb(30,48,64);
}

.startseite_letzter_artikel {
    padding: 30px 0 0px;
    position: relative;
}

.startseite_letzter_artikel h1 {
    font-family: "Futura Book", Helvetica, Arial, serif;
    margin: 0px;
}

.startseite_letzter_artikel h1 a {
    font-size: 20pt;
    color: rgb(20,20,20);
}

.startseite_letzter_artikel div {
    margin: 15px 0;
    text-align: center;
}

.startseite_letzter_artikel div span {
	text-transform: uppercase;
	font-size: 12pt;
	margin-right: 10px;
}

.startseite_letzter_artikel p {
	font-size: 14pt;
	line-height: 1.5;
	margin-top: 15px;
}

.startseite_letzter_artikel p a {
	border-bottom: 1px dotted rgb(46,74,98);
	text-decoration: none;
	color: rgb(46,74,98);
}

.startseite_letzter_artikel p a:hover {
	border-bottom: 1px solid rgb(46,74,98);
}

.startseite_zeile {
	padding: 0px 15%;
	width: 70%;
	display: inline-block;
}

.startseite_zeile > div {
	width: 47.5%;
	margin: 20px 0;
	padding: 0;
	text-align: left;
}

.startseite_zeile > div h1 {
	text-transform: uppercase;
	text-align: left;
	font-size: 12pt;
	color: rgb(255,255,255);
	background: rgb(46,74,98);
	padding: 10px;
	margin: 0px;
	font-family: "Futura Book", Helvetica, Arial, serif;
	font-weight: normal !important;
}

.startseite_zeile > div img {
	width: 100%;
	max-height: 100px;
}

.startseite_zeile > div:nth-child(1) {
	padding-right: 2.5%;
	float: left;
}

.startseite_zeile > div:nth-child(2) {
	padding-left: 2.5%;
	float: right;
}

.startseite_zeile > div > div {
    margin-top: 10px;
}

.startseite_zeile > div > div a {
	font-size: 16pt;
	text-decoration: none;
	color: rgb(20,20,20);
	line-height: 1.4;
}

.startseite_zeile > div > div a:hover {
	text-decoration: underline;
}

.startseite_zeile > div > div a:visited {
	text-decoration: none;
	color: rgb(20,20,20);
}

.startseite_zeile > div > div p {
	border-bottom: 1px solid rgb(230,230,230);
	padding: 10px 0;
}

.startseite_zeile > div > div span {
	margin: 0 10px;
}

.startseite_zeile > div > p a {
	text-decoration: none;
	border-bottom: 1px dotted rgb(46,74,98);
	margin: 5px;
	float: right;
	color: rgb(46,74,98);
}

.startseite_zeile > div > p a:hover {
	border-bottom: 1px solid rgb(46,74,98);
}



.blog {
	width: 800px;
	padding-bottom: 30px;
	margin: auto;
}

.blog h1 {
	font-size: 20pt;
}

.blog p {
	line-height: 1.6em;
	margin: 30px 0 30px;
	font-size: 16pt;
}

.blog a:link {
	color: rgb(46,74,98);
	border-bottom: 1px dotted;
}

.blog a:hover {
	border-bottom: 1px solid;
	color: rgba(46,74,98,0.8);
}

.blog a:visited {
	border-bottom: 1px solid;
	color: rgba(46,74,98,0.6);
}

.blog a {
	text-decoration: none;
}

.blog_text_fragen h2 {
	font-size: 20pt;
	text-shadow: 0px 0px 0px #666;
	text-align: left;
	font-family: "Garamond", Georgia, Times, sans-serif;
	font-weight: normal;
}

.blog_upgrade, .blog_subscribe {
	padding: 30px;
	width: 100%;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05) inset;
    display: inline-block;
    font-size: 16pt;
    max-width: 900px;
    position: relative;
    text-align: center;
}

.blog_subscribe {
    max-width: 438px;
    margin: 30px auto;
}

.inputfield {
	padding: 0 14px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 172px;
	height: 50px;
	font-size: 16pt;
	font-family: "Garamond", Georgia, Times, sans-serif;
}

.inputbutton {
	text-decoration: none;
	background: rgb(46,74,98);
	color: #fff;
	border: 0;
	border-radius: 2px;
	margin-top: 4px;
    margin-bottom: 8px;
	min-width: 200px;
	height: 50px;
	font-size: 16pt;
	font-family: "Futura Book", Helvetica, Arial, serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.inputbutton:hover {
	background: rgb(30,48,64);
}

.inputbutton:disabled {
	background: rgb(200,200,200);
    cursor: default;
}

a.blog_linkbutton {
	text-decoration: none;
	display: block;
	border-radius: 2px;
	color: rgb(255,255,255) !important;
	background: rgb(46,74,98);
	border: 0 !important;
	margin: 30px auto 10px auto;
	max-width: 400px;
	height: 37px;
	padding-top: 13px;
	font-size: 16pt;
	font-family: "Garamond", Georgia, Times, sans-serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
	text-align: center;
}

a.blog_linkbutton:hover {
	color: rgb(255,255,255);
	background: rgb(30,48,64);
	text-decoration: none;
}

a.blog_linkbutton:visited {
	color: rgb(255,255,255);
	text-decoration: none;
}

.medien_info {
	width: 800px;
	padding-bottom: 30px;
	margin: auto;
}

.medien_info h1 {
	font-size: 20pt;
	color: rgba(0,0,0,0.9);
	margin: 50px 0 30px 0;
	text-align: center;
}

.medien_info p {
	line-height: 1.6em;
	font-size: 16pt;
	text-align: justify;
	margin: 20px 0;
}

.medien_info a {
	color: rgb(46,74,98);
	text-decoration: none;
	border-bottom: 0px dotted rgb(46,74,98);
}

.medien_info a:hover {
	color: rgb(0,0,0);
	text-decoration: none !important;
	border-bottom: 0px solid rgb(46,74,98);
}

.projekte {
	width: 70%;
	margin: auto;
}

.projekte h1 {
	font-size: 20pt;
	text-align: center;
	margin: 0px;
}

.projekte h1 a {
	text-decoration: none;
	color: rgb(46,74,98);
}

.projekte h1 a:hover {
	border-bottom: 0px solid rgb(46,74,98);
	color: rgb(0,0,0);
}

.projekte p {
	font-size: 14pt;
}


/* Scholienbüchlein */
div.scholienbuechlein {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

div.scholienbuechlein > img {
    width: 16%;
    height: auto;
}

div.scholienbuechlein > div {
    width: 75%;
}

.buecher_head {
	width: 75%;
	padding: 25px 12.5% 75px 12.5%;
	display: inline-block;
}

.buecher_head h1 {
	text-align: center;
	font-size: 20pt;
	line-height: 1.2em;
	text-shadow: 0px 0px 0px rgb(20,20,20);
	margin: 0px 0 0px 0;
}

.buecher_img {
	float: left;
	text-align: center;
	width: 45%;
}

.buecher_img img {
	padding: 10px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.6);
	max-height: 300px;
	max-width: 300px;
	background: rgb(250,250,250);
}

.buecher_bestellen {
	float: right;
	width: 40%;
	text-align: right;
	padding-right: 15%;
}

.buecher_form {
	padding: 5px;
}

.buecher-coin {
    display: inline;
}

.buecher-coin-span {
	font-size: 18pt;
    padding-left: 8px;
}

.buecher-coin-span1 {
	font-size: 18pt;
	padding-left: 18px;
}

.buecher-coin-span__img {
	width: 1.4em;
	margin: 0.5em  0 -.4em 0.5em !important;
}

.schriften_type {
	font-size: 12pt;
	font-style: italic;
	color: rgba(0,0,0,0.65);
	margin: 0 5px 10px 0;
	display: block;
}

/* Veranstaltungen */

div.veranstaltungen {
	width: 60%;
	padding-bottom: 30px;
	margin: 50px auto;
}

div.veranstaltung {
	text-align: center;
	margin: 27px 0 0;
}

div.veranstaltung > div {
	font-size: 18pt;
	text-align: center;
	margin: 50px 0 0;
}

div.veranstaltung > h1 {
	font-size: 20pt;
	margin: 15px 0 10px 0;
}

div.veranstaltung > h1 > a {
	color: rgb(46,74,98);
	text-decoration: none;
}

div.veranstaltung > h1 > a:hover {
	color: black;
}

div.veranstaltung > h1 + div {
	font-size: 14pt;
	margin: 0 0 40px 0;
	font-style: italic;
}

div.veranstaltung p {
	font-size: 16pt;
	margin: 15px 0;
	text-align: justify;
	line-height: 1.6;
}

div.veranstaltung p a {
    color: rgb(46,74,98);
	border-bottom: 1px dotted;
}

div.veranstaltung p a:hover {
	border-bottom: 1px solid;
	color: rgba(46,74,98,0.8);
}

table.veranstaltungen {
    width: 84%;
    margin: 60px 8% 0;
}

table.veranstaltungen td {
    padding: 10px 2%;
    font-size: 18;
	font-family: "Garamond", Georgia, Times, sans-serif;
}

table.veranstaltungen td:first-child {
    width: 24%;
    font-size: 24;
}

table.veranstaltungen td:nth-child(3) {
    width: 10%;
}

p.linie {
	margin-top: 15px;
	text-align: center !important;
	padding-bottom: 20px;
}

p.linie img {
	display: inline;
	max-height: 35px;
}

.separator {
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.6);
	width: 100%;
	text-align: center;
	padding: 15px 0;
	background: rgb(250,250,250);
}

.separator h2 {
	font-size: 20pt;
	color: rgba(0,0,0,0.6);
	text-transform: uppercase;
	margin-top: 0;
}

/*übernommen*/
.salon_info {
	width: 800px;
	padding-top: 0px;
	padding-bottom: 30px;
	margin: auto;
}

.salon_info h1 {
	font-size: 20pt;
	color: rgba(0,0,0,0.9);
	margin: 50px 0 30px 0;
	text-align: center;
}

.salon_info p {
	line-height: 1.6em;
	font-size: 16pt;
	text-align: justify;
	margin: 20px 0;
}


/*============== fuer detail-view, uebernommen =============*/
.salon_content {
	width: 800px;
	padding-bottom: 30px;
	margin: 50px auto;
}

.salon_content a {
    color: rgb(46,74,98);
	border-bottom: 1px dotted
}

.salon_content a:hover{
	border-bottom: 1px solid;
    color: rgba(46,74,98,0.8);
}

.salon_content img {
	text-align: center;
	margin: 30px 0;
}

.salon_content p {
	font-size: 16pt;
	margin: 15px 0;
	text-align: justify;
	line-height: 1.6;
}

.salon_content li {
	font-size: 14pt;
	line-height: 1.6;
}

.salon_content blockquote {
	line-height: 1.5em;
	padding: 0 50px 0 50px;
	color: rgba(0,0,0,0.6);
}

.blockquote p {
	line-height: 1.5em;
	padding: 0 50px 0 50px;
	color: rgba(0,0,0,0.6);
}

.medien_anmeldung {
	text-align: right;
}

.medien_anmeldung a {
	color: rgb(46,74,98);
	font-size: 14pt;
	text-decoration: none;
	border-bottom: 1px dotted rgb(46,74,98);
	text-align: center;
	margin: 0 auto;
	font-family: "Futura Book", Helvetica, Arial, serif;
}

.medien_anmeldung a:hover{
	color: rgb(0,0,0);
	border-bottom: 1px solid rgb(46,74,98);
}

.salon_reservation {
	text-align: center;
	margin: auto;
	padding: auto;
    display: inline-block;
    position: relative;
}

.sinfo {
	padding: 20px;
	margin: 10px 0px;
	border: 1px solid rgb(125, 125, 125);
}

.sinfo p {
	margin: 5px 0;
}

.sinfo-link:link, .sinfo-link:active, .sinfo-link:hover, .sinfo-link:visited {
	font-size: 14pt;
	text-decoration: none;
}

.sinfo-link:link, .sinfo-link:visited {
	border-bottom: 1px dotted rgb(46,74,98);
}

.sinfo-link:active, .sinfo-link:hover {
	border-bottom: 1px solid rgb(46,74,98);
}

.input-select {
	padding: 10px;
    padding-top: 6px;
	font-size: 14pt;
	height: 50px;
}

.coin-span {
	font-size: 18pt;
}

.coin-span__img {
	width: 1.4em;
	margin: 0.5em  0 -.4em 0.5em !important;
}


/* habe ich fuer pagination uebernommen */

.pagination {
	padding: 3px;
	margin: 50px auto 5px 0;
	font-size: 16pt;
	text-align: center;
}

.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	text-decoration: none;
	color: rgb(46,74,98);
	border: 0 !important;
	font-family: "Garamond", Georgia, Times, sans-serif;
}

.pagination a:hover, .pagination a:active {
	color: #000;
}

.pagination span.current {
	padding: 1px 5px 1px 5px;
	margin: 1px 2px;
	font-weight: bold;
	background-color: rgb(46,74,98);
	color: #fff;
    /* es gab bei seite=3 einen Fehler, da die CSS von
    "div.warenkorb_veranstaltung span:nth-child(3), span:nth-child(4)"
    übernommen wurden; da ich nicht genau wusste, weshalb, habe ich die drei
    folgenden Parameter hier hinzugefügt, gk */
    font-size: 16pt;
    font-style: normal;
    display: inline;
}

.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	color: #000;
}

/* für Spendenstufen nahezu alles aus Payment/Upgrade übernommen*/

.payment {
	width: 75%;
	margin: 50px auto;
}

.payment h1 {
	font-size: 36pt;
	text-shadow: 0px 0px 1px rgb(20,20,20);
	margin: 50px 0;
	text-align: center;
}

.payment p {
	font-size: 14pt;
	line-height: 1.4;
	text-align: justify;
	margin: 20px 0;
	-ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.payment ul {
	margin-left: 50px;
	line-height: 1.6;
	font-size: 14pt;
}

.payment_info {
	font-family: "Garamond", Georgia, Times, sans-serif;
	line-height: 1.6em;
	font-size: 14pt;
	text-align: justify;
	-ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.pay_option_box {
	width: 100%;
	padding: 10px;
	margin: 50px auto 20px auto;
	box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.15) inset;
	border-radius: 2px;
	min-height: 200px;
	opacity: 0.95;
}

.pay_option_box:hover {
	opacity: 1;
	box-shadow: 2px 2px 15px 0 rgba(237,120,2,0.5), -2px 2px 15px 0 rgba(237,120,2,0.5), 2px -2px 15px 0 rgba(237,120,2,0.5), -2px -2px 15px 0 rgba(237,120,2,0.5);
}

.pay_option_box_Gast {
	background: rgb(88,134,129);
}

.pay_option_box_Teilnehmer {
	background: rgb(21,87,100);
}

.pay_option_box_Scholar {
	background: rgb(1,39,68);
}

.pay_option_box_Partner {
	background: rgb(21,87,100);
}

.pay_option_box_Beirat {
	background: rgb(88,134,129);
}

.pay_option_box_Patron {
	background: rgb(140,156,136);
}

.pay_option_box th {
	color: #fff;
	width: 25%;
	padding: 0 30px;
	vertical-align: middle;
    border-bottom: none;
}

.pay_option_box td {
	color: rgb(255,255,255);
	width: 75%;
	padding: 0 20px;
	vertical-align: middle;
    border-bottom: none;

}

.pay_option_box h1 {
	font-size: 22pt;
	text-align: center;
	color: rgb(255,255,255);
	margin-bottom: 15px;
	text-shadow: 0 0 0;
}

.pay_option_box h2 {
    margin-top: 0;
	font-size: 26pt;
	text-align: center;
	color: #rgb(255,255,255);
	font-family: "Futura Book", Helvetica, Arial, serif;
}

.pay_option_box p {
	line-height: 1.8em;
	font-size: 14pt;
	margin: 30px 0;
	text-align: left;
	color: rgb(255,255,255);
}

.pay_option_box ul {
	list-style-position: outside;
	list-style-type: disc;
	font-size: 14pt;
	padding-left: 12px;
	color: #fff;
	margin-left: 0px;
	text-align: left;
}

.pay_option_box li {
	line-height: 1.6em;
}

.pay_option_form {
	text-align: center;
	height: 110px;
}

.pay_option_box_inputbutton {
	text-decoration: none;
	background: rgb(237,120,2);
	color: #fff;
	text-shadow: 1px 1px 4px 0 rgba(0,0,0,0.9);
	border: 0;
	border-radius: 2px;
	margin: 10px 0 15px 0;
	width: 400px;
	height: 50px;
	font-size: 16pt;
	font-family: "Garamond", Georgia, Times, sans-serif;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16) inset, 0px 0px 10px 0px rgba(0, 0, 0, 0.34) inset;
}

.pay_option_box_inputbutton:hover {
	background: rgb(230,103,2);
}

.payment_width {
	width: 80% !important;
	margin: 0 !important;
	padding: 50px 10% !important;
}

.profil {
	width: 35%;
	margin: 0 15%;
	padding: 50px 17.5%;
}

.profil table {
    all: initial;
}

.profil p {
	margin: 0;
	text-align: center;
	font-size: 14pt;
}

.profil label {
	font-size: 12pt;
	color: rgb(150,150,150);
	display: block;
	float: left;
	width: 150px;
	height: 30px;
	padding-top: 20px;
	text-align: left;
}

.profil select {
	padding: 10px;
	font-size: 12pt;
	height: 50px;
	margin: 5px;
	width: 292px;
	border: 1px solid #cfcfcf;
}

.profil input {
	padding: 0 14px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	margin: 5px;
	width: 292px;
	height: 50px;
	font-size: 12pt;
	font-family: "Futura Book", Helvetica, Arial, sans-serif;
}

.profil input[type="radio"] {
	height: initial;
	width: initial;
	margin: 10px 10px 10px 0px;
}

.profil input[type="submit"] {
	text-decoration: none;
	background: rgb(46,74,98);
	color: #fff;
	border: 0;
	border-radius: 2px;
	margin: 30px 0 0 0px;
	min-width: 292px;
	height: 50px;
	font-size: 16pt;
	font-family: "Futura Book", Helvetica, Arial, sans-serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
}

.profil input[type="submit"]:hover {
	background: rgb(30,48,64);
}

/*==================================================*/
/*                   Modal                    		*/
/*==================================================*/

.close {
  	float: right;
  	font-size: 26pt;
  	font-weight: bold;
  	line-height: 1;
  	color: #000;
  	text-shadow: 0 1px 0 #fff;
  	filter: alpha(opacity=20);
  	opacity: .2;
}

.close:hover,
.close:focus {
  	color: #000;
  	text-decoration: none;
  	cursor: pointer;
  	filter: alpha(opacity=50);
  	opacity: .5;
}

button.close {
  	-webkit-appearance: none;
  	padding: 0;
  	cursor: pointer;
  	background: transparent;
  	border: 0;
}

.modal-open {
  	overflow: hidden;
}

.modal {
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: 1050;
  	display: none;
  	overflow: hidden;
  	-webkit-overflow-scrolling: touch;
  	outline: 0;
}

.modal-open .modal {
  	overflow-x: hidden;
  	overflow-y: auto;
}

.modal-dialog-login {
	position: relative;
  	width: 420px;
  	margin: 50px auto;
}

.modal-form-width {
	width: 720px !important;
}

.modal-content {
  	position: relative;
  	background-color: #fff;
  	-webkit-background-clip: padding-box;
          	background-clip: padding-box;
  	border: 1px solid #999;
  	border: 1px solid rgba(0, 0, 0, .2);
  	border-radius: 6px;
  	outline: 0;
  	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    padding: 80px;
}

.modal-content-login {
  	position: relative;
  	background-color: rgb(250,250,250);
  	-webkit-background-clip: padding-box;
          	background-clip: padding-box;
  	border: 1px solid #999;
  	border: 1px solid rgba(0, 0, 0, .2);
  	border-radius: 6px;
  	outline: 0;
  	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    padding: 10px 40px;
}

.modal-backdrop {
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: 1040;
  	background-color: #000;
}

.modal-backdrop.fade {
  	filter: alpha(opacity=0);
  	opacity: 0;
}

.modal-backdrop.in {
  	filter: alpha(opacity=50);
  	opacity: .5;
}

.modal-header {
  	min-height: 16.42857143px;
 	padding: 15px;
  	text-align: center;
}

.modal-header .close {
  	margin-top: -2px;
}

.modal-title {
	font-size: 18pt;
  	margin: 0;
  	line-height: 1.5;
}

.modal-body {
  	position: relative;
  	padding: 15px;
  	text-align: justify;
	font-size: 14pt;
	line-height: 1.6;
	padding: 0px;
	-ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.modal-body p {
	margin: 20px 0;
}

.modal-footer {
  	padding: 15px;
  	text-align: right;
  	text-align: center;
}

.modal-footer .btn + .btn {
  	margin-bottom: 0;
  	margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  	margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  	margin-left: 0;
}

.modal-scrollbar-measure {
  	position: absolute;
  	top: -9999px;
  	width: 50px;
  	height: 50px;
  	overflow: scroll;
}

.inputfield_login {
	padding: 0 14px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	margin: 5px;
	width: 302px;
	height: 50px;
	font-size: 16pt;
	font-family: "Garamond", Georgia, Times, sans-serif;
	box-sizing: content-box;
}

.password_login {
	text-align: center;
}

.password_login a {
	font-size: 14pt;
	text-decoration: none;
	border-bottom: 1px dotted rgb(46,74,98);
	color: rgb(46,74,98);
}

.password_login a:hover {
	text-decoration: none;
	border-bottom: 1px solid rgb(46,74,98);
}

.tologin {
	padding-top: 25px;
	text-align: center;
	font-size: 14.5pt;
}

.tologin a {
	text-decoration: none;
	line-height: 120%;
	border-bottom: 1px dotted rgb(46,74,98);
	color: rgb(46,74,98);
	cursor: pointer;
}

.tologin a:hover {
	text-decoration: none;
	border-bottom: 1px solid rgb(46,74,98);
}

.inputbutton_login {
	text-decoration: none;
	background: rgb(46,74,98);
	color: #fff;
	border: 0;
	border-radius: 2px;
	margin: 5px;
	width: 330px;
	height: 50px;
	font-size: 16pt;
	font-family:  "Futura Book", Helvetica, Arial, serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
}

.inputbutton_login:hover {
	background: rgb(30,48,64);
}


/*==================================================*/
/*                   Warenkorb                 		*/
/*==================================================*/

table.warenkorb {
    width: 76%;
    margin: 60px 12% 0;
}

table.warenkorb td {
    padding: 30px 0;
    font-size: 23;
	font-family: "Garamond",Georgia,Times,sans-serif;
}

table.warenkorb th:first-child {
    width: 60%;
}

table.warenkorb td img {
	height: 21px;
	margin: 1px 5px -1px;
	display: inline;
}

table.warenkorb td:first-child {
    width: 60%;
    text-align: left;
}

table.warenkorb tfoot td {
    border-bottom: none;
    font-size: 33;
}

table.warenkorb tfoot td img {
    height: 28px;
	margin: 2px 5px -4px;
}

table.warenkorb tfoot td:first-child {
    text-align: right;
}

table.warenkorb + div {
    text-align: right;
    padding: 20px 0 90px;
    width: 76%;
    margin: 10px 12%;
}

table.warenkorb + div form {
	float: right;
}

table.warenkorb + div input {
	text-decoration: none;
	border: 1px solid rgb(245,245,245);
	background: rgb(255,255,255);
	color: rgb(150,150,150);
	border-radius: 3px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.02), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
	margin: 5px;
	width: 200px;
	height: 50px;
	font-size: 14pt;
	font-family: "Garamond", Georgia, Times, sans-serif;
	text-align: center;
}

table.warenkorb + div form:first-child input {
	text-decoration: none;
	background: rgb(46,74,98);
	color: rgb(255, 255, 255);
	border: 0;
	border-radius: 2px;
	margin: 5px 0 5px 10px;
	min-width: 200px;
	height: 50px;
	font-size: 16pt;
	font-family: "Garamond", Georgia, Times, sans-serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

div.warenkorb_veranstaltung {
    width: calc(65%-240px);
    display: table;
}

div.warenkorb_veranstaltung span:first-child {
    font-size: 14pt;
    margin-bottom: 10px;
    display: block;
}

div.warenkorb_veranstaltung span:nth-child(2) {
    display: block;
    font-size: 20pt;
    padding-bottom: 20px;
    text-align: left;
}

div.warenkorb_veranstaltung span:nth-child(2) a {
    color: rgb(46,74,98);
    text-decoration: none;
}

div.warenkorb_veranstaltung span:nth-child(3), span:nth-child(4) {
    font-size: 14pt;
    font-style: italic;
    display: block;
}

div.warenkorb_veranstaltung form input {
    text-decoration: none;
    background: transparent;
    color: rgb(46,74,98);
    margin: 35px 0 12px;
    font-size: 12pt;
    font-family: "Garamond", Georgia, Times, sans-serif;
    border: 0;
    padding: 0;
    border-bottom: 1px dotted rgb(46,74,98);
}


/*==================================================*/
/*                   Footer                    		*/
/*==================================================*/

.footer {
	min-height: 35px;
	width: 100%;
	background: rgb(7,16,24);
	margin: 0;
	padding-top: 10px;
	color: rgb(238,238,238);
}

.footer a {
	color: rgb(238,238,238);
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.footer_section {
	width: 80%;
	padding: 20px 10%;
	overflow: hidden;
}

.footer_info {
	width: 60%;
	margin-right: 5%;
	float: left;
}

.footer_info p {
	font-size: 12pt;
	text-align: justify;
	line-height: 1.5;
	margin-top: 140px;
}

.footer_contact {
	width: 35%;
	float: right;
}

.footer_contact img {
	width: 350px;
	margin-bottom: 40px;
}

.footer_contact p {
	font-size: 14pt;
	padding: 10px 0 0 0;
	margin-left: 7px;
	font-family: "Futura Book", Helvetica, Arial, serif;
}

.footer_contact ul {
	margin-left: 7px;
}

.footer_contact li {
	font-size: 14pt;
	line-height: 1.4;
}

.footer_tm {
	width: 60%;
	margin-right: 5%;
	float: left;
}

.footer_tm p {
	font-size: 16pt;
	line-height: 2;
	text-align: left;
}

.footer_logo a {
	display: block;
	font-size: 15pt;
	padding: 0 10px;
}

.footer_social {
	width: 35%;
	float: right;
	text-align: right;
}
.footer_social ul {
	margin-left: 90px;
}

.footer_social li {
	float: left;
	width: 40px;
	margin: 0 5px;
}

.footer_social a {
	text-decoration: none;
	display: block;
	height: 40px;
	width: 40px;
	background-size: contain;
}

.footer_social a:hover {
	opacity: 0.8;
}

.footer_social_facebook {
	background: url(img/footer_social_facebook.png) no-repeat;
}

.footer_social_twitter {
	background: url(img/footer_social_twitter.png) no-repeat;
}

.footer_social_youtube {
	background: url(img/footer_social_youtube.png) no-repeat;
}

/*==================================================*/
/*                 Mitwirkende			            */
/*==================================================*/

.crew {
	width: 100%;
	display: inline-block;
	margin: 20px 0;
}

.crew__col-1 {
	width: 20%;
	float: left;
	text-align: center;
}

.crew__col-1 a {
	font-size: 14pt;
}

.crew__col-4 {
	width: 80%;
	float: left;
}

.crew h1 {
	text-align: left !important;
	font-size: 16pt !important;
	line-height: 24pt;
	text-shadow: 0 0 0 !important;
    margin: 0;
}

.crew p {
	font-family: "Garamond", Georgia, Times, serif;
	text-align: justify;
	-ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.crew_levels {
	font-family: "Futura Book", Helvetica, Arial, sans-serif;
	font-size: 20pt !important;
}
