{% extends "base.html" %} {% load humanize %}

{% block title %}Bestellübersicht{% endblock %}

{% block content %}

  <h1> Übersicht Ihrer Bestellungen</h1>

  {% if kaeufe.teilnahme %}{% with teilnahmen=kaeufe.teilnahme %}
  <div class="separator">
    <h2>Ihre Veranstaltungen</h2>
  </div>
  <div class="container">
    <table>
      <tr>
        <th/>
        <th>Zeit gebucht</th>
        <th>Plätze</th>
      </tr>
      {% for kauf in teilnahmen %}
      <tr>
        <td>{% include "Produkte/bestellungen_teilnahme.html" with obj=kauf.objekt_ausgeben %}</td>
        <td>{{ kauf.zeit|naturaltime }}</td>
        <td>{{ kauf.menge }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endwith %}{% else %}
  <div class="separator" style="margin-bottom: 100px">
    <h2>Keine Veranstaltungen gebucht</h2>
  </div>
  {% endif %}

    {% if kaeufe.aufzeichnung or kaeufe.livestream %}{% with a=kaeufe.aufzeichnung l=kaeufe.livestream %}
    <div class="separator">
      <h2>Ihre Aufzeichnungen und Medien</h2>
    </div>
    <div class="container">
      <table>
        <tr>
          <th/>
          <th/>
          <th>Download</th>
        </tr>
        {% for kauf in medien %}
        <tr>
          <td>{{ kauf.zeit|naturaltime }}</td>
          <td>{{ kauf.produkt }}</td>
          <td> Preis später </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endwith %}{% else %}
    <div class="separator" style="margin-bottom: 100px">
      <h2>Keine gebuchten Aufzeichnungen</h2>
    </div>
    {% endif %}

    {% if kaeufe.buch %}{% with b=kaeufe.buch %}
    <div class="separator">
      <h2>Ihre Aufzeichnungen und Medien</h2>
    </div>
    <div class="container">
      <table>
        <tr>
          <th/>
          <th/>
          <th>Download</th>
        </tr>
        {% for kauf in b %}
        <tr>
          <td>{{ kauf.zeit|naturaltime }}</td>
          <td>{{ kauf.produkt }}</td>
          <td> Preis später </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endwith %}{% else %}
    <div class="separator" style="margin-bottom: 100px">
      <h2>Keine gebuchten Bücher</h2>
    </div>
    {% endif %}

</div>

{% endblock %}
