{% extends "base.html" %} {% load humanize %} {% block content %}

  <h1> Übersicht Ihrer Bestellungen</h1>

  {% if kaeufe.veranstaltung %}{% with liste_v=kaeufe.veranstaltung %}
  <div class="separator">
    <h2>Ihre Veranstaltungen</h2>
  </div>
  <div class="container">
    <table>
      <tr>
        <th/>
        <th>Zeit</th>
        <th>Plätze</th>
      </tr>
      {% for kauf in liste_v %}
      <tr>
        <td>{% include "Produkte/warenkorb_veranstaltung.html" with obj=kauf.objekt_ausgeben %}</td>
        <td>{{ kauf.zeit|naturaltime }}</td>
        <td>{{ kauf.menge }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endwith %}{% else %}
  <div class="separator" style="margin-bottom: 100px">
    <h2>Keine Veranstaltungen gebucht</h2>
  </div>
  {% endif %}

  {% if kaeufe.medium %}{% with liste_v=kaeufe.veranstaltung %}
  <div class="separator">
    <h2>Ihre Schriften und Medien</h2>
  </div>
  <div class="container">
    <table>
      <tr>
        <th/>
        <th/>
        <th>Download</th>
      </tr>
      {% for kauf in medien %}
      <tr>
        <td>{{ kauf.zeit|naturaltime }}</td>
        <td>{{ kauf.produkt }}</td>
        <td> Preis später </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endwith %}{% else %}
  <div class="separator" style="margin-bottom: 100px">
    <h2>Keine Medien gebucht</h2>
  </div>
  {% endif %}

  <div class="separator">
    <h2>Ihre Spenden und Programme</h2>
  </div>
  <div class="container">
    <h2>Spenden</h2>

    <table>
        <tr>
            <th/>
            <th>Ihre Spende</th>
            <th>Status</th>
        </tr>
        {% for kauf in medien %}
        <tr>
            <td>{{ kauf.zeit|naturaltime }}</td>
            <td>{{ kauf.produkt }}</td>
            <td> Preis später </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Programme</h2>

    <table>
        <tr>
            <th/>
            <th>Plätze</th>
            <th>Status</th>
        </tr>
        {% for kauf in medien %}
        <tr>
            <td>{{ kauf.zeit|naturaltime }}</td>
            <td>{{ kauf.produkt }}</td>
            <td> Preis später </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
