{% load static produkttags %}
{% load humanize %}

<div class="container_breit" style="width: 70%; padding: 50px 15%;">
  <table class="bestellung_item">
    <tr>
      {% if bild %}<th class="noborder"/>{% endif %}
      <th style="text-align: left;">Beschreibung</th>
      <th>Format</th>
      {% if datum %}
      <th>Datum</th>
      {% endif %}
      <th>Gebucht</th>
      {% if menge %}
        <th>Anzahl</th>
      {% endif %}
      {% if dl or stream %}<th class="noborder"/>{% endif %}
    </tr>
    {% for kauf in items %}
    {% with obj=kauf.objekt_ausgeben pk=kauf.pk_ausgeben %}
      <tr>
        {% if bild %}
          <td class="noborder">
          {% if obj.bild %}
          <div class="buecher_img">
            <img src="{{ obj.bild.url }}" alt="{{ obj.bezeichnung|safe }}">
          </div>
          {% endif %}
          </td>
        {% endif %}
        <td class="bestellung_titel">
          <a href="{{ obj.get_absolute_url }}">{{ obj|safe }}</a>
        </td>
        <td>
          <span>{% verbose obj %}</span>
          <span>{% art_aus_pk pk|title %}</span>
        </td>
        {% if datum %}
        <!-- <td>{% include "Produkte/medium_runterladen.html" with kauf=kauf %}</td> -->
        <td>{{ obj.datum|naturalday|capfirst }}</td>
        {% endif %}
        <td>{{ kauf.zeit|naturalday }}</td>
        {% if menge %}
          <td>{{ kauf.menge }}</td>
        {% endif %}
        {% if dl %}
          <td class="noborder">{% include "Produkte/medium_runterladen.html" with kauf=kauf %}</td>
        {% endif %}
        {% if kauf.art_ausgeben == 'livestream' %}
        <td class="noborder"><a class="media_button" href="{{ obj.get_absolute_url }}">Zum Stream</a></td>
        {% endif %}

      </tr>
    {% endwith %}
    {% endfor %}
  </table>
</div>
