{% load static produkttags %}
{% max_anzahl_zu_liste produkt art as anzahlen %}
{% preis produkt art as preis %}
{% button_text produkt art as button_text %}
<form class="buecher_form" action="{% url 'Produkte:cart-add' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="pk" value="{% produkt_pk produkt art %}">
  {% if anzahlen %}
    <script type="text/javascript">
      function preis_berechnen_{{ art }}() {
      var p = document.getElementById('gesamtpreis_{{ art }}_{{ buch.pk }}');
      var m = document.getElementById('menge_{{ art }}_{{ buch.pk }}');
      p.innerHTML = m.value*{{ preis }}
    }
    </script>
  <td>
    <select class="input-select" name="quantity" id="menge_{{ art }}_{{ buch.pk }}" onchange="preis_berechnen_{{ art }}()">
      {% for i in anzahlen %}
        <option value="{{ i }}" {% if forloop.first %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
    </select>
  </td>
  <td>
    <input class="inputbutton" type="submit" value="{{ button_text }}">
  </td>
  <td>
    <div id="gesamtpreis_{{ art }}_{{ buch.pk }}" class="buecher-coin-span"><script>preis_berechnen_{{ art }}()</script></div>
  </td>
  {% else %}
  <td/>
  <td>
    <input class="inputbutton" type="submit" value="{{ button_text }}">
  </td>
  <td>
    <div id="gesamtpreis_{{ art }}_{{ buch.pk }}" class="buecher-coin-span1">{{ preis }}</div>
  </td>
  {% endif %}
  <td>
    <img class="coin-span__img" src="{% static 'img/coin.png' %}">
  </td>
</form>
