{% load static produkttags %}
{% max_anzahl_zu_liste produkt art as anzahlen %}
{% preis produkt art as preis %}
{% button_text produkt art as button_text %}
<form class="buecher_form" action="{% url 'Produkte:cart-add' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="pk" value="{% produkt_pk produkt art %}">
    <script type="text/javascript">
      function preis_berechnen_{{ art }}() {
      var p = document.getElementById('gesamtpreis_{{ art }}');
      var m = document.getElementById('menge_{{ art }}');
      p.innerHTML = m.value*{{ preis }}
    }
    </script>
    <select class="input-select" name="quantity" id="menge_{{ art }}" onchange="preis_berechnen_{{ art }}()">
      {% for i in anzahlen %}
        <option value="{{ i }}" {% if forloop.first %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
    </select>
    <input class="inputbutton" type="submit" value="{{ button_text }}">
        <br />
        <div  style="padding: 1em;">
          <span id="gesamtpreis_{{ art }}" class="coin-span"><script>preis_berechnen_{{ art }}()</script></span><img class="coin-span__img" style="padding-left: 0.5em; padding-bottom: 0.5em;" src="{% static 'img/coin.png' %}">
        </div>
</form>
