{% load static produkttags %}
<form action="{% url 'Produkte:cart-add' %}" method="post">
  {% csrf_token %}
  {% preis produkt art as preis %}
  <input type="hidden" name="pk" value="{{ produkt.pk_ausgeben }}{{ art }}">
  <script type="text/javascript">
    function preis_berechnen(menge, einzelpreis, element_id) {
    var p = document.getElementById(element_id);
    p.innerHTML = menge*einzelpreis
  }
  </script>
  <select class="input-select" name="quantity" onchange="preis_berechnen(this.value, {{ preis }}, 'gesamtpreis_{{ art }}')">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input class="inputbutton" type="submit" value="Auswählen"><br>
  <span id="gesamtpreis_{{ art }}" class="coin-span">{{ preis }}</span><img class="coin-span__img" src="{% static 'img/coin.png' %}">
</form>
