{% load static produkttags %}
{% produkt.anzahlen_ausgeben as anzahlen %}
{% preis produkt art as preis %}
{% button_text produkt art as button_text %}
<form action="{% url 'Produkte:cart-add' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="pk" value="{% produkt_pk produkt art %}">
  {% if anzahlen %}
    <script type="text/javascript">
      function preis_berechnen(menge, einzelpreis, element_id) {
      var p = document.getElementById(element_id);
      p.innerHTML = menge*einzelpreis
    }
    </script>
    <select class="input-select" name="quantity" onchange="preis_berechnen(this.value, {{ preis }}, 'gesamtpreis_{{ art }}')">
      {% for i in anzahlen %}
        <option value="{{ i }}" {% if forloop.first %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
    </select>
  {% endif %}
  <input class="inputbutton" type="submit" value="{{ button_text }}"><br>
  <span id="gesamtpreis_{{ art }}" class="coin-span">{{ preis }}</span><img class="coin-span__img" src="{% static 'img/coin.png' %}">
</form>
