{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="blog">
    <header>
      <h1>Für Bürger</h1>
    </header>
	<div class="blog_text_fragen">
      <p>
          Großartig, dass Sie zu uns gefunden haben! Es gibt heute nur noch wenige, die bereit sind, Institutionen zivilgesellschaftlich zu tragen – die meisten verlassen sich auf Staat und Lobbies und „engagieren“ sich allenfalls als Zuwendungsempfänger.
      </p>
      <p>
          Das <em>scholarium</em> wird ausschließlich privat von Bürgern wie Ihnen finanziert. Wir lehnen jede Subvention aus Prinzip ab, weil wir niemals mehr Werte aufbrauchen als schöpfen wollen, Zwang verabscheuen und Unabhängigkeit für einen hohen Wert halten. Wir sind ein gemeinnütziges Unternehmen, das heißt, alle Erträge fließen direkt in die Förderung unserer Zwecke, ohne Abzug von Dividenden, Zinsen oder Steuern.
      </p>
      <p>
          Wir sind aber auch stolz darauf, ein Unternehmen zu sein, und eben keine Behörde, kein Komitee, keine Partei, kein Hobbyverein, keine ideologische Bewegung. Professionalität, Effizienz, reale Wertschöpfung und ökonomische Nüchternheit sind zentral für uns. Wir bieten Ihnen daher realen Gegenwert und nicht bloß allgemeine Versprechen.
      </p>
      <p>
          Auch wenn Ihre finanziellen Mittel beschränkt sind, können Sie schon mit einem kleinen Beitrag an unseren Erkenntnissen und Werten teilhaben, Teil eines außergewöhnlichen Netzwerkes werden und eine gewichtige Lücke füllen.
      </p>
    </div>
    <div>
        {% for stufe in stufen %}
          <p>
              {{ stufe }} {{ stufe.spendenbeitrag }}
          </p>
          <p>
              {{ stufe.beschreibung }} {{ stufe.gegenwert1 }} {{ stufe.gegenwert2 }}
          </p>
        {%endfor %}
    </div>
  </div>
{% endblock content %}
