{% load static humanize produkttags %}

{% with buch=obj %}
  <div class="warenkorb_veranstaltung">
    <span>{% if buch.autor %}{{ buch.autor }}{% endif %}</span>
    <span>
      <a href="{% url 'Bibliothek:detail_buch' buch.slug %}">{% if buch.titel %}{{ buch.titel }}{% else %}{{ buch.bezeichnung }}{% endif %}</a>
    </span>
    <span>{% art_aus_pk pk %}</span>
    <form action="{% url 'Produkte:cart-remove' %}" method="post">
    	{% csrf_token %}
      <input type="hidden" name="pk" value={{ pk }}>
      <input type="submit" value="Entfernen">
    </form>
  </div>
{% endwith %}
