{% extends 'base.html' %}
{% load static humanize %}

{% block content %}

  <div class="separator">
    <h2>Ihr Warenkorb</h2>
  </div>
  <table class="warenkorb"> 
    <thead>
      <th></th>
      <th>Kosten</th>
      <th>Menge</th>
    </thead>
    <tbody>
      {% for item in cart.list_items %}
      <tr>
        <td>{% include "Produkte/warenkorb_item.html" %}</td>
        <td>{{ item.price }}<img class='dropdown_coin' src="{% static 'img/coin.png' %}"></td>
        <td>{{ item.quantity }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <td>Summe {{ cart.item_count }} Artikel:</td>
      <td>{{ cart.total_price }}<img src="{% static 'img/coin.png' %}"></td>
      <td></td>
    </tfoot>
  </table>

  <div style="display: table;">
    <form action="{% url 'Produkte:kaufen' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Auschecken!" />
    </form>
    <form action="{% url 'Produkte:cart-empty' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Warenkorb leeren!" />
    </form>
  </div>

{% endblock content %}