{% extends 'base.html' %}
{% load static humanize %}

{% block content %}

  <div class="separator">
    <h2>{% block title %}Ihr Warenkorb{% endblock %}</h2>
  </div>
  <table class="warenkorb">
    <thead>
      <th></th>
      <th>Kosten</th>
      <th>Menge</th>
    </thead>
    <tbody>
      {% for paar in cart.items_ausgeben %}{% with pk=paar.0 ware=paar.1 %}
      <tr>
        <td>{% include "Produkte/warenkorb_"|add:ware.model_ausgeben|add:".html" with pk=pk obj=ware.obj art=ware.art %}</td>
        <td>{{ ware.price }}<img class='dropdown_coin' src="{% static 'img/coin.png' %}"></td>
        <td>{{ ware.quantity }}</td>
      </tr>
      {% endwith %}{% endfor %}
    </tbody>
    <tfoot>
      <td>Summe{% if cart.ob_versand %} (mit Versandkostenpauschale){% endif %}:</td>
      <td>{{ cart.total_price }}<img src="{% static 'img/coin.png' %}"></td>
      <td></td>
    </tfoot>
  </table>

  <div style="display: table;">
    <form action="{% url 'Produkte:kaufen' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Jetzt bestellen" />
    </form>
    <form action="{% url 'Produkte:cart-empty' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Korb leeren" />
    </form>
  </div>

{% endblock content %}
