{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="payment">
    <header>
      <h1>{% block title %}Zahlung{% endblock %}</h1>
    </header>
    <div class="profil payment_width wrapper">
      <form method="post" action="" name="upgrade_account">

        <div class="center">
        {% csrf_token %}
        <p>
          {% if request.user.is_authenticated %}
            Bitte überprüfen/vervollständigen Sie Ihre Daten:
          {% else %}
            Bitte geben Sie Ihre Daten ein:
          {% endif %}
        </p><br><br>
        {{ formular.email.errors }}
        {{ formular.email.label_tag }}
        {{ formular.email }}
        <br><br>
        {{ formular.anrede.errors }}
        {{ formular.anrede.label_tag }}
        {{ formular.anrede }}
        <br>
        {{ formular.vorname.errors }}
        {{ formular.vorname.label_tag }}
        {{ formular.vorname }}
        <br>
        {{ formular.nachname.errors }}
        {{ formular.nachname.label_tag }}
        {{ formular.nachname }}
        <br>
        {{ formular.tel.errors }}
        {{ formular.tel.label_tag }}
        {{ formular.tel }}
        <br>
        {{ formular.firma.errors }}
        {{ formular.firma.label_tag }}
        {{ formular.firma }}
        <br>
        {{ formular.strasse.errors }}
        {{ formular.strasse.label_tag }}
        {{ formular.strasse }}
        <br>
        {{ formular.plz.errors }}
        {{ formular.plz.label_tag }}
        {{ formular.plz }}
        <br>
        {{ formular.ort.errors }}
        {{ formular.ort.label_tag }}
        {{ formular.ort }}
        <br>
        {{ formular.land.errors }}
        {{ formular.land.label_tag }}&nbsp&nbsp&nbsp&nbsp&nbsp
        {{ formular.land }}
        <br><br><br>
        <p>Bitte w&auml;hlen Sie Ihre gew&uuml;nschte Zahlungsmethode:</p><br>
        <div style="display: inline-block; text-align:left;">
        {{ formular.zahlungsweise.errors }}
        {% for art in formular.zahlungsweise %}
          {{ art.tag }}{{ art.choice_label }}<br>
        {% endfor %}
      </div>
        <br>
        <!-- <input type="hidden" name="ok" value="1"> -->
        <input type="hidden" name="betrag" value="{{ betrag }}">
        <input type="hidden" name="stufe" value="{{ stufe }}">
        <input type="hidden" name="profile[first_reg]" value="upgrade_buerger">

        <input id="weiter_button" type="submit" name="register_from_outside_submit" value="Weiter">

        </div>
	  </form>
    {% include 'Grundgeruest/paypal_button.html' %}
    </div>
  </div>
{% endblock content %}
