{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="payment">
    <header>
      <h1>Zahlung</h1>
    </header>
    <div class="profil payment_width">
      <form method="post" action="" name="upgrade_account">
        {% csrf_token %}
        <p>Bitte geben Sie Ihre Daten ein:</p>
        {{ formular.email.errors }}
        {{ formular.email.label_tag }}
        {{ formular.email }}
        <br><br>
        {{ formular.anrede.errors }}
        {{ formular.anrede.label_tag }}
        {{ formular.anrede }}
        <br>
        {{ formular.vorname.errors }}
        {{ formular.vorname.label_tag }}
        {{ formular.vorname }}
        <br>
        {{ formular.nachname.errors }}
        {{ formular.nachname.label_tag }}
        {{ formular.nachname }}
        <br>
        {{ formular.tel.errors }}
        {{ formular.tel.label_tag }}
        {{ formular.tel }}
        <br>
        {{ formular.firma.errors }}
        {{ formular.firma.label_tag }}
        {{ formular.firma }}
        <br>
        {{ formular.strasse.errors }}
        {{ formular.strasse.label_tag }}
        {{ formular.strasse }}
        <br>
        {{ formular.plz.errors }}
        {{ formular.plz.label_tag }}
        {{ formular.plz }}
        <br>
        {{ formular.ort.errors }}
        {{ formular.ort.label_tag }}
        {{ formular.ort }}
        <br>
        {{ formular.land.errors }}
        {{ formular.land.label_tag }}
        {{ formular.land }}
        <br>
        <p>Bitte w&auml;hlen Sie Ihre gew&uuml;nschte Zahlungsmethode:</p>
        {{ formular.zahlungsweise.errors }}
        {% for art in formular.zahlungsweise %}
          {{ art.tag }}{{ art.choice_label }}<br>
        {% endfor %}
        <br>
        <input type="hidden" name="ok" value="1">
        <input type="hidden" name="betrag" value="{{ betrag }}">
        <input type="hidden" name="stufe" value="{{ stufe }}">
        <input type="hidden" name="profile[first_reg]" value="upgrade_buerger">

        <input id="weiter_button" type="submit" name="register_from_outside_submit" value="Weiter">
	  </form>
    </div>
  </div>
{% endblock content %}
