{% extends "base.html" %}
{% load static produkttags %}

{% block content %}
  {% with request.POST.zahlungsweise as zw %}
  <h1>Unterstützung: {% choice_value zw 'zahlungsweise' formular %}</h1>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ request.POST.email }}" name="email"/>
    <input type="hidden" value="{{ request.POST.stufe }}" name="stufe"/>
    <input type="hidden" value="{{ request.POST.betrag }}" name="betrag"/>
    <input type="hidden" name="bestaetigung"/>
    <div class="payment">
      <div class="payment_success">
        <b>Daten gespeichert.</b>
        <p>Für die Aufwertung zur Unterstützungsstufe {% stufenname request.POST.stufe %} bestätigen Sie bitte hier ihre Zahlung.</p>
      </div>
      {% if zw == 'u' %}
        <p>Bitte überweisen Sie {{ request.POST.betrag }}€ auf folgendes Konto:</p>
        <ul>
          <li>scholarium</li>
          <li>Erste Bank, Wien/Österreich</li>
          <li>IBAN: AT27 2011 1827 1589 8503</li>
          <li>BIC: GIBAATWWXXX</li>
        </ul>
        <p><b>Bitte verwenden Sie als Zahlungsreferenz/Betreff die Nummer {{ nutzer.id }} ein</b></p>
      {% elif zw == 'b' %}
        <p>Bitte schicken Sie uns den gewählten Betrag von {{ request.POST.betrag }}€ in Euro-Scheinen oder im ungefähren Edelmetallgegenwert (Gold-/Silbermünzen) an das scholarium, Schlösselgasse 19/2/18, 1080 Wien, Österreich. Alternativ können Sie uns den Betrag auch persönlich (bitte um Voranmeldung) oder bei einer unserer Veranstaltungen überbringen.</p>
      {% endif %}
      <div class="profil">
        <input type="submit" value="Bestätigen"/>
      </div>
    </div>
  </form>
  {% endwith %}
{% endblock content %}
