{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<div class="profil">
<form action="" method="post" id="password_change_form">
  <legend>{% trans "Change Password" %}</legend>
  {% csrf_token %}
  {{ form.old_password.errors }}
  {{ form.old_password.label_tag }}
  {{ form.old_password }}
  <br><br>
  {{ form.new_password1.errors }}
  {{ form.new_password1.label_tag }}
  {{ form.new_password1 }}
  <br>
  {{ form.new_password2.errors }}
  {{ form.new_password2.label_tag }}
  {{ form.new_password2 }}
  <input type="submit" value="{% trans "Change password" %}" />
</form></div>
{% endblock %}
