{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="blog wrapper">
  <h2>Eintragen</h2>
  <p class="tologin">Sie sind bereits eingetragen? <a data-toggle="modal" data-target="#login" data-dismiss="modal" aria-label="Close" value="Anmelden">Dann melden Sie sich hier mit ihrer E-Mail-Adresse an.</a></p>
  <form action="" method="post" style="max-width:400px;" class="center">
    {% csrf_token %}
    <fieldset>
      {{ form.non_field_errors }}
      {% for field in form %}
      {{ field.errors }}
      {% comment %} Displaying checkboxes differently {% endcomment %}
      {% if field.name == 'email' %}
      <input id="user_email" type="email" placeholder="E-Mail-Adresse" name="{{ field.name }}" class="inputfield" style='width: 100%;' required>
      {% elif field.name == 'tos' %}
      <p class="checkbox">
      <label for="id_{{ field.name }}" class="center" style="text-align: center;">{{ field }} {{ field.label }}</label>
      </p>
      {% else %}
      <p>
      {{ field.label_tag }} 
      {{ field }}
      </p>
      {% endif %}
      {% endfor %}
    </fieldset>
    <input type="submit" value="Kostenlos eintragen" class="inputbutton" style='width: 100%;'/>
  </form>
</div>
{% endblock %}
