{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signed out" %}{% endblock %}
{% block content_title %}<h2>{% trans "You have been signed out" %}.</h2>{% endblock %}

{% block content %}
<script>
    function redirect(){
       window.location.href = "{% url 'Grundgeruest:index' %}";
    }

    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
</script>

<div class="blog">
  <p style="text-align: center;">{% trans "You have been signed out. Till we meet again." %}</p>
</div>
{% endblock %}
